/* Universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body styles */
body{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}


/* Header section styles */
header{
    padding: 1rem 0;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img{
    width: 100px;
    height: 35px;
}

header nav ul{
    display: flex;
    gap: 2rem;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #575757;
    font-size: 1rem;
}

.btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 1.8rem;
    font-weight: 600;
    margin: 0.5rem 0;
    cursor: pointer;

}


/* Hero section styles */
.hero-container{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url('./assets/banner.jpg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-content: center;
}

.hero-container-elems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 800px;
}

.hero-container-elems h2{
    font-size: 3.5rem;
    color: #FFFFFF;
}

.hero-container-elems h2 span{
    font-style: italic;
}

.hero-container-elems p{
    width: 600px;
    text-align: center;
    color: #afafaf;
}

.hero-container-btn{
    display: flex;
    justify-content: center;
}


/* Meet the Speakers styles */
.title{
    font-size: 2.3rem;
    color: #000;
    text-align: center;
    margin: 3.5rem 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card{
    background-color: #FFFFFF;
    border: 1px solid #c9c9c99b;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 0 1rem 0;
}

.card-desc span{
    color: #1D4ED8;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem;
}

.card-desc h2{
    font-size: 1.5rem;
    margin: 1rem;
}

.card-desc p{
    color: #575757;
    padding: 0 0 1rem 1rem;
}


/* Secure your Spot styles */
.title2{
    font-size: 2.3rem;
    color: #000;
    text-align: center;
    margin: 3.5rem 0 1rem 0;
}

.price-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sub-title{
    text-align: center;
    color: #575757;
    margin-bottom: 3.5rem;
}

.single-card{
    padding: 2rem;
    border: 1px solid #c9c9c99b;
    border-radius: 1rem;
}

.card-price .top{
    font-size: 1.2rem;
    font-weight: 500;
    color: #888888;
    text-transform: uppercase;
    padding: 0.3rem 0;
}

.card-price .mid{
    color: #000;
    font-size: 3rem;
    font-weight: 700;
}

.card-price .bottom{
    color: #888888;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.card-details .normal-features{
    padding: 1.5rem 1rem;
}

.card-details .normal-features li{
    margin-bottom: 0.7rem;
    color: #333333;
}

.card-details .normal-features li::marker{
    color: #1D4ED8;
}

.card-details .btn2{
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    background: transparent;
    font-weight: 700;
    font-size: 1.2rem;
    width: 418px;
    cursor: pointer;
}

.pro-top{
    font-size: 1.2rem;
    font-weight: 500;
    color: #93C5FD;
    text-transform: uppercase;
    padding: 0.3rem 0;
}

.pro-mid{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
}


.pro-features{
    padding: 1.5rem 1rem;
}

.pro-features li{
    margin-bottom: 0.7rem;
    color: #FFFFFF;
}

.pro-features li::marker{
    color: #1D4ED8;
}

.btn3{
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-weight: 700;
    font-size: 1.2rem;
    width: 418px;
    cursor: pointer;
}

.special{
    background-color: #0D1B2A;
}


/* Our Partners section styles */
.partners-list{
    display: flex;
    justify-content: space-between;
    
}

.partners-list img{
    width: 350px;
    height: 200px;
    object-fit: cover;
}


/* Connect us section styles */
.stay-with-us{
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    gap: 5rem;
}

.left-side{
    display: flex;
    justify-content: center;
}

.left-side img{
    width: 800px;
}

.right-side h2{
    font-size: 2rem;
    color: #000;
    padding: 1rem 0;
}

.right-side p{
    font-size: 1.2rem;
    color: #575757;
    padding: 0 0 1rem 0;
}


.right-side input{
    padding: 1.3rem 1rem;
    width: 65%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    background-color: #e6e5e5;
}

.right-side button{
    padding: 1.1rem;
    background-color: #1D4ED8;
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
}

::placeholder{
    color: #333333;
}

.right-side .notice{
    padding: 1rem 0;
    color: #0D1B2A;
    font-size: 0.8rem;
}


/* Footer section styles */
footer{
    background-color: #0D1B2A;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}

.footer-right span a i{
    color: #FFFFFF;
    font-size: 2rem;
    cursor: pointer;
}

.footer-container2 p{
    text-align: center;
    padding: 2rem 0;
    color: #888888;
}